.bg1{
	height: 1000px;
	background-image: url(https://images.unsplash.com/photo-1593305841991-05c297ba4575?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2153&q=80);
	background-attachment: fixed ;
	background-size: cover;
	background-repeat: no;
	background-position: center;
	top: 0 ;
	left: 0;

}
body{
	background-image: url(https://previews.123rf.com/images/annaleni/annaleni1612/annaleni161200085/67657572-blue-line-coding-seamless-pattern-illustration-of-outline-tile-background-programming-skills-.jpg);
	background-repeat: repeat;
	position: center;
	background-position: fixed;
	margin: 0;
	padding: 0;
	height: 2100px;
}
.bg1 h1{
	text-align: center;
	line-height: 1000px;
	color: ghostwhite;
	font-family: 'Anton', sans-serif;
	font-weight: bold;
	font-size: 70px;
	padding: 0;
	margin: 0;
}
.navbox{
	padding: 0;
	margin: 0;
	position: fixed;
	width: 5000px;
	top: 0;
	left: 0;
	background-color: paleturquoise;
}
.navbar{
	height: 50px;
	background-color: paleturquoise;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;

}
.navbar ul li{
	color: navajowhite;
	font-family: 'Anton', sans-serif;
	font-weight: bold;
	font-size: 20px;
	display: inline;
	line-height: 35px;
	margin: 55px;
}
.navbar ul li a:hover{
	color: whitesmoke;
}
.container{
	width: 1600px;
	height: 2100px;
	margin: auto;
	background-color:#21223c;
}
.desc1{
	width: 100px;
	height: 100px;
	background-color:#21223c;	
	margin: auto;
	
}
.p1{
	width: 300px;
	height: 100px;
	background-color: #21223c;	
	margin: auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	line-height: 20px;
	color: ghostwhite;
}

.container2{
	margin: auto;
	margin-top: 180px;
	width: 1000px;
	height: 250px;
	background-color: #21223c;

}
.desc2{
	float: left;
	width: 300px;
	height: 100px;
	background-color: #21223c;	
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: ghostwhite;
}
.desc3{
	float: right;
	width: 300px;
	height: 100px;
	background-color: #21223c;	
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: ghostwhite;
}
.porto{
	margin: 60px;
	font-family: 'Anton', sans-serif;
	font-size: 30px ;
	font-weight: normal;
	color: ghostwhite;
	text-align: center;
	text-decoration: underline;
}
.container3{
	width:1300px ;
	height: 230px;
	margin: auto;
	background-color: #21223c;
}
.img1 img{
	width: 300px;
	height: 225px;
	margin-right: 20px;
	float: left;
	filter: blur(2px);
	transform: scale(1.0);
	transition-duration:0.5s;
	transition-delay: 0.2s;
	
}
.img1 img:hover{
	filter: blur(0px);
	transform: scale(3.0);
}
.img2 img{
	width: 300px;
	height: 225px;
	margin-right: 20px;
	float: left;
	filter: blur(2px);
	transition-duration:0.5s;
	transition-delay: 0.2s;
}
.img2 img:hover{
	filter: blur(0px);
	transform: scale(3.0);
}
.img3 img{
	width: 300px;
	height: 225px;
	margin-right: 20px;
	float: left;
	filter: blur(2px);
	transition-duration:0.5s;
	transition-delay: 0.2s;
}
.img3 img:hover{
	filter: blur(0px);
	transform: scale(3.0);
}
.img4 img{
	width: 300px;
	height: 225px;
	float: left;
	filter: blur(2px);
	transition-duration:0.5s;
	transition-delay: 0.2s;
}
.img4 img:hover{
	filter: blur(0px);
	transform: scale(3.0);
}
.kontak{
	margin: 60px;
	font-family: 'Anton', sans-serif;
	font-size: 30px ;
	font-weight: normal;
	color: ghostwhite;
	text-align: left;
	text-decoration: underline;
	text-indent: 50px;

}
.hobi{
	margin: 60px;
	font-family: 'Anton', sans-serif;
	font-size: 30px ;
	font-weight: normal;
	color: ghostwhite;
	text-align: center;
	text-decoration: underline;
}
.container4{
	width:1300px;
	height:500px;
	margin: auto;
	background-color: #21223c;

}
.hobi1{
	width: 640px;
	height:500px;
	margin: auto;
	background-image: url("https://images.unsplash.com/photo-1544652478-6653e09f18a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
	background-size: cover;
	background-attachment: fixed;
	float: left;
}
.hobi2{
	width: 640px;
	height:500px;
	margin: auto;
	background-image: url("https://images.unsplash.com/photo-1495954222046-2c427ecb546d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	float: right;
}

.footer{
	width: 1600px;
	height: 50px;
	margin: auto;
	background-color: navy;
	font-family: 'Anton', sans-serif;
	font-size: 20px ;
	font-weight: normal;
	color: ghostwhite;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}